
<nav class="navbar navbar-expand-md navbar-light navbar-area pt-100 pb-50" style="background-color: #079ee8;">
    <div class="container">
        <a class="navbar-brand" routerLink="/app-landing">
            <img src="assets/img/appopaynews.png" alt="logo" style="width:100px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link " routerLink="/app-landing">Home</a></li>


                <li class="nav-item"><a class="nav-link " routerLink="/app-merchant">Merchant</a></li>
              
  


    <li class="nav-item"><a class="nav-link" routerLink="/agent">Agent</a></li>

    <li class="nav-item"><a class="nav-link" routerLink="/qrcode">QR Code</a></li>
    <li class="nav-item">

        <div class="dropdown">
            <div class="nav-link" routerLink="/processing">Language
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">

    <li> <a  routerLink="/app-landing">English</a></li>
    <li> <a routerLink="/app-landing">Spanish</a></li>
    <li><a routerLink="/app-landing">Chinese</a> </li>
  

    </div>
    </div>

    </li>

    </ul>

    <div class="navbar-btn">
        <a href="https://appopay.com/appopayadmin/#/system/login" target="_blank"> Customer Login</a>
    </div>
    <div class="navbar-btn">
        <a href="https://appopay.com/merchantadmin/#/system/login" target="_blank">Merchant Login</a>
    </div>
    </div>
    </div>
</nav>
<style>
    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 1px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }




    .dropdown-content {
        display: none;
        position: fixed;
    
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color: #0899e7;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>


<section class=" pt-100" style="margin-top:100px;">
    <div class="container">
        <div class="row align-items-center">


            <div class="col-lg-12 ">
                <div class="why-choose-text wow fadeInUp" data-wow-duration="2s">
                    <div class="section-title">

                        <h2>PRIVACY NOTICE OVERVIEW</h2>
                        <p>Policy Effective as of October 1, 2019.</p>
                    </div>

                    <div class="media">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>
                            This Privacy Policy applies to the Site, www.appopay.com. (“APPOPAY”) ‘Site’, by definition for this agreement includes our Service
                            application(s) available via internet/web access, mobile and smart phones, tablets, or any
                            other technology that allows you to access the Service, which exists now or in the future.
                            Please read this carefully as this policy is legally binding when you use our Services.
                            Check the Customer Agreement for the meaning of defined words. This privacy policy describes
                            how collects and uses the personal information you provide on our web
                            site: www.appopay.com. It describes the choices available to you, regarding our use of your
                            personal information, how it can be accessed, reviewed and updated.
                        </div>
                    </div>



                    <div class="media">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>
                            We are serious and committed to protecting our customers' personal information, privacy and
                            security. We use a secure server to store your personal information. All information you
                            provide to us is stored on our secure servers. All payment transactions will be encrypted
                            using Transport Layer Security technology.

                            As you are aware, the transmission of information via the internet is not completely secure.
                            Although we will do our utmost to protect your personal data, we cannot guarantee the
                            security of your data during transmission, and any transmission is at your own risk. Once we
                            have received your information, we will use strict procedures and security features to try
                            to prevent unauthorized access.<br><br>

                            We restrict access of your personal information to those employees of Appopay who have a
                            business reason for knowing such information. We continuously educate and train our
                            employees about the importance of confidentiality and privacy of customer information. We
                            maintain physical, electronic and procedural safeguards that comply with relevant laws and
                            regulations to protect your personal information from unauthorized access.<br><br>

                            This Privacy Statement explains what personal information we collect about you, with whom we
                            share it, and how you [The user of the Service] can direct us not to share certain
                            information with certain parties. "Personal Information" refers to information such as name
                            and email that can be used to identify an individual. You should read this Privacy Policy in
                            its entirety. Certain sections may apply differently to residents of different
                            jurisdictions.
                        </div>
                    </div>




                    <div class="media">

                        <div class="media-body">



                            <h3 class="mt-2">By using our services, you agree you are accepting the terms of this
                                Privacy Notice.</h3>
                            We may update this privacy statement, from time to time, to reflect changes to our
                            information practices. If we make any material changes we will notify you by email (sent to
                            the e-mail address specified in your account) or by means of a notice on this Site prior to
                            the change becoming effective. We encourage you to, periodically; review this page for the
                            latest information on our privacy practices.
                        </div>
                    </div>
                    <div class="media">

                        <div class="media-body">



                            <h3 class="mt-2">WHY DO WE COLLECT INFORMATION AND DATA?</h3>
                            We collect; process and retain personal information from you and any devices you may use
                            when you use our Services, or you provide it to us on a web form, when you update your
                            information or otherwise correspond with us regarding our Services. Additionally, we may
                            collect personal information from third parties. We collect information for the following
                            purposes:

                        </div>
                    </div>




                    <div class="feature-text">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>

                            <ul class="aboutli">
                                <li><i class="flaticon-checked mr-2"></i> To process your transactions and contact you,
                                    as necessary</li>
                                <li><i class="flaticon-checked mr-2"></i> To verify your identity</li>
                                <li><i class="flaticon-checked mr-2"></i> To collect payment for your use of the Service
                                </li>
                                <li><i class="flaticon-checked mr-2"></i> To troubleshoot problems with the Service</li>
                                <li><i class="flaticon-checked mr-2"></i> To detect and prevent fraud and other illegal
                                    uses of the Service</li>
                                <li><i class="flaticon-checked mr-2"></i>To enhance and simplify the user experience
                                </li>
                                <li><i class="flaticon-checked mr-2"></i> To send you marketing notices, service
                                    updates, and promotional offers</li>
                                <li><i class="flaticon-checked mr-2"></i> To send transaction alerts to you and/or the
                                    recipient of your remittance</li>
                            </ul>
                        </div>
                    </div>


                    <div class="media">

                        <div class="media-body">





                            <h3 class="mt-2">HOW DO WE COLLECT INFORMATION?</h3>
                            We collect personal information:
                        </div>
                    </div>


                    <div class="feature-text">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>

                            <ul class="aboutli">
                                <li><i class="flaticon-checked mr-2"></i> Directly provided by you when you use our
                                    Services;</li>
                                <li><i class="flaticon-checked mr-2"></i> Automatically through your use of our
                                    Services;</li>
                                <li><i class="flaticon-checked mr-2"></i> From using cookies, web beacons, and similar
                                    technologies; and</li>
                                <li><i class="flaticon-checked mr-2"></i> From other third party sources.</li>

                            </ul>
                        </div>
                    </div>



                    <div class="media">

                        <div class="media-body">








                            <h3 class="mt-2">PERSONAL INFORMATION WE MAY COLLECT?</h3>
                            <h4 class="mt-2">Information You Give Us</h4>
                            The information that we collect directly from you includes:
                        </div>
                    </div>







                    <div class="feature-text">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>

                            <ul class="aboutli">
                                <li>Information that you provide us when you sign up to use our Service, such as your
                                    name, address, e-mail address, and telephone number. This also includes information
                                    you provide through your continued use of our Services, participate in discussion
                                    boards or other social media functions on our Website or App, enter a competition,
                                    promotion or survey, and when you report a problem with our Services. The
                                    information you give us may include certain sensitive information including
                                    financial information (including credit card, debit card, or bank account
                                    information), date of birth and social security number, and other identification
                                    documents. We may request to validate your identity through personal description and
                                    photographs for the safety and security of establishing your Account with the
                                    Service.
                                </li>
                                <li> We may also need additional commercial and/or identification information from your
                                    e.g. if you send or receive certain high-value or high volume transactions or as
                                    needed to comply with our anti-money laundering obligations under applicable law.
                                </li>
                                <li> To facilitate our Service, we request certain third party personal information from
                                    you such as your recipient's full name, physical address, email address, and phone
                                    number. We may also collect from you the recipient's sensitive financial information
                                    including their name, bank account and routing number. If you give us personal
                                    information about someone else, you must do so only on their explicit and prior
                                    consent. You have to inform them how we collect, use, disclose and retain their
                                    personal information according to our Privacy Notice.
                                </li>
                                <li> Information about your usage of the Service, including your transaction history,
                                    and how you choose to pay/fund your remittance, and to whom you use the Service to
                                    send or receive money, along with the recipient’s collection method.
                                </li>
                                <li> To detect and prevent fraud and other illegal uses of the Service </li>
                                <li> To enhance and simplify the user experience </li>
                                <li>To send you marketing notices, service updates, and promotional offers </li>
                                <li>To send transaction alerts to you and/or the recipient of your remittance </li>
                            </ul>
                            <p>You decide how much information to share with us in most cases, but not sharing required
                                information may limit your ability to engage in certain activities, such as payment
                                information required to complete a transaction. </p>
                        </div>
                    </div>






                    <div class="media">

                        <div class="media-body">








                            <h3 class="mt-2">Information Collected Automatically Through Your Use of the Service</h3>

                            When you use or interact with our Site and Services, we receive and store information
                            generated by your activity, like usage data and other information automatically collected
                            from your browser or mobile device. The Information that we automatically obtain from you
                            includes:
                        </div>
                    </div>







                    <div class="feature-text">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>
                            <ul class="aboutli">
                                <li><i class="flaticon-checked mr-2"></i> Details of the transactions you carry out when
                                    using our Services, including geographic location from which the transaction
                                    originates;</li>
                                <li><i class="flaticon-checked mr-2"></i> Information about the hardware and software
                                    you use when accessing the Service;</li>
                                <li><i class="flaticon-checked mr-2"></i> Technical information, including the Internet
                                    protocol (IP) address used to connect your computer to the Internet, your login
                                    information, browser type and version, time zone setting, geolocation data obtained
                                    from your mobile device, browser plug-in types and versions, operating system and
                                    platform;</li>
                                <li><i class="flaticon-checked mr-2"></i> Information about your visit, including the
                                    full Uniform Resource Locators (URL) clickstream to, through and from our Website or
                                    App (including date and time); products you viewed or searched for; page response
                                    times, download errors, length of visits to certain pages, page interaction
                                    information (such as scrolling, clicks, and mouse-overs), and methods used to browse
                                    away from the page and any phone number used to call our Customer Support number.
                                </li>

                            </ul>

                        </div>
                    </div>



                    <div class="media">

                        <div class="media-body">








                            <h3 class="mt-2"> Information We Receive from Other Sources</h3>


                            We may supplement the information we collect with personal information from third parties.
                            For example, we may collect and use demographic information that is publicly available,
                            additional contact information, and information obtained by identity verification services
                            and credit reporting agencies, as allowed by applicable national laws.
                            <p>We may also receive information about you if you use any of the other websites we operate
                                or the other services we provide. We are also working closely with third parties and may
                                receive information about you from them. For example:
                            </p>
                        </div>
                    </div>







                    <div class="feature-text">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>
                            <ul class="aboutli">
                                <li><i class="flaticon-checked mr-2"></i> The banks you use to transfer money to us will
                                    provide us with your basic personal information, such as your name and address, as
                                    well as your financial information such as your bank account details;
                                </li>
                                <li><i class="flaticon-checked mr-2"></i> Business partners may provide us with your
                                    name and address, as well as financial information, such as card payment
                                    information;</li>
                                <li><i class="flaticon-checked mr-2"></i> Advertising networks, analytics providers and
                                    search information providers may provide us with pseudonymised information about
                                    you, such as confirming how you found our website;
                                </li>
                                <li><i class="flaticon-checked mr-2"></i> Credit reference agencies do not provide us
                                    with any personal information about yourself, but may be used to corroborate the
                                    information you have provided to us.
                                </li>

                            </ul>
<p> If you log in to our Services using your social media account (for example, Facebook or Google) we will receive relevant information that is necessary to enable our Services and authenticate you. The social media network will provide us with access to certain information that you have provided to them, including your name, profile image and e-mail address. We use such information, together with any other information you directly provide to us when registering or using our Services, to create your account and to communicate with you about the information, products and services that you request from us. You may also be able to, specifically request that we have access to the contacts in your social media account so that you can send a referral link to your family and friends. We will use, disclose and store all of this information in accordance with this privacy policy.</p>

<p>Such social media sites may also give us automatically access to certain personal information retained by them about you (e.g. content viewed by you, content liked by you, or may have clicked on). Your interactions with these Features are governed by the privacy policy of the company providing it. </p>
                        </div>
                    </div>



    <div class="media">

                        <div class="media-body">








                            <h3 class="mt-2">INFORMATION COLLECTED USING COOKIES, WEB BEACONS, AND SIMILAR TECHNOLOGIES</h3>


                         COOKIES, beacons, tags and scripts are used by Appopay and our partners, affiliates, or analytics or service providers. These technologies are used: 
                        </div>
                    </div>




   <div class="feature-text">

                        <div class="media-body">
                            <h3 class="mt-0"></h3>
                            <ul class="aboutli">
                                <li><i class="flaticon-checked mr-2"></i> 	To enhance and simplify the user experience on our home page and throughout our site, to remember users’ settings (e.g. language preference, preferred country of remittance, and for authentication); and
   
                                </li>
                                <li><i class="flaticon-checked mr-2"></i> Business partners may provide us with your
                                    name and address, as well as financial information, such as card payment
                                    information;</li>
                                <li><i class="flaticon-checked mr-2"></i>  To analyze trends, administering the site, tracking users’ movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.
  
                                </li>
                                <li><i class="flaticon-checked mr-2"></i>    Our Services use cookies to distinguish you from other users. This helps us to provide you with a good experience and allows us to improve our Services. For detailed information on the cookies we use and the purposes for which we use them see our Cookie Policy.


                                </li>

                            </ul>
<p>Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited. </p>
					  </div>
                    </div>
    


                </div>
            </div>


        </div>
    </div>
</section>






<footer class="footer-area">
    <div class="container">
        <div class="row">


            <div class="col-lg-3 col-sm-6 foota">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <img src="assets/img/logo-white.png" alt="logo" style="width:200px;">
                    </div>

                    <div class="footer-link mb-3">
                        <a  target="_blank" href="https://play.google.com/store/apps/details?id=com.cooptavanza5477.appopay">
                            <img src="assets/img/google-play.png" alt="google image" style="height:35px;width:330px;">
                        </a>

                        <a  target="_blank" href="https://apps.apple.com/in/app/appopay/id1587340828">
                            <img src="assets/img/app-store.png" alt="google image" style="height:35px;width:330px;">
                        </a>
                    </div>
                    <h6 style="color:#fff;font-weight:700;font-size:20px;">PCI COMPILANCE</h6>

                    <div class="footer-link mb-2">
                        <a routerLink="/app-landing">
                            <img src="assets/img/DSS-Logo.png" alt="google image" style="width:330px;">
                        </a>


                    </div>
                    <div class="footer-link mb-2">
                        <a routerLink="/app-landing">
                            <img src="assets/img/trust-seal-protected.png" alt="google image" style="width:330px;">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 foot">
                <div class="footer-widget">
                    <h3>Company</h3>

                    <ul>
                        <li><a routerLink="/business"><i class="flaticon-right"></i> About Us</a></li>
                        <li><a href="#"><i class="flaticon-right"></i> Services</a></li>
                        <li><a href="#"><i class="flaticon-right"></i> Features</a></li>
                       
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 footb">
                <div class="footer-widget">
                    <h3>Support</h3>






                    <ul>
                        <li><a routerLink=""><i class="flaticon-right"></i> FAQ's</a></li>
                        <li><a routerLink="/privacypolicy"><i class="flaticon-right"></i> Privacy Policy</a></li>
                        <li><a routerLink="/termsofuse"><i class="flaticon-right"></i> Terms & Condition</a></li>
                     
                        <li><a routerLink="/contact-us"><i class="flaticon-right"></i> Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 footc">
                <div class="footer-widget">
                    <h3>Address</h3>



                    <ul>
                        <li><a href="Appopay"><i class="flaticon-right"></i>Location: Appopay </a></li>
                        <li><a href="tel:+02452142314"><i class="flaticon-right"></i>Via Transistmica Plaza Nani alado
                            </a></li>
                        <li><a href="tel:+02452142314"><i class="flaticon-right"></i> Pharmacia metro Plus </a></li>


                        <li><a href="tel:+02452142314"><i class="flaticon-right"></i>Panama, Republica de Panama </a>
                        </li>


                        <li><a href="mailto:hello@euzan.com"><i class="flaticon-right"></i>Email:support@appopay.com</a>
                        </li>
                        <li><a href="tel:+02452142314"><i class="flaticon-right"></i>Phone:+5073731199</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 footex">
                <div class="footer-widget">

                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img src="assets/img/bank_logo2.png" alt="logo" style="width:200px;">
                        </div>
                        <h6 style="color:#fff;font-weight:600;">powered by Credicorp Bank</h6>
                        <div class="footer-logo">
                            <img src="assets/img/bottomlogo.png" alt="logo" style="width:200px;">
                        </div>

                        <h6 style="color:#fff;font-weight:600;">Registered with UnionPay International as TPSP</h6>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4 lh-1">
                    <img src="assets/img/bottomnew.png" alt="union card">
                    <img src="assets/img/visa.png" alt="visa card">
                    <img src="assets/img/american-express.png" alt="american-express">
                    <img src="assets/img/discover.png" alt="discover">
                    <img src="assets/img/master-card.png" alt="master card">
                </div>

                <div class="col-lg-6 col-md-8 lh-1">
                    <p>Copyright @2019 appopay.com. All rights reserved <a href="https://appopay.com/appopaynew"
                            target="_blank"></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="top-btn">
    <i class="flaticon-rocket"></i>
</div>