
.nav-link 

{

    color: #fff !important;

}


.navbar .navbar-btn a {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border: 1px solid #fff!important;
    padding: 10px 30px;
    border-radius: 80px;
    margin-left: 30px;
}

.main-banner {
    position: relative;
    background-position: 50%;
    background-size: cover;
    height: 550px;
  
}
.main-banner .banner-img img {
    border-radius: 25px;
    max-width: 400px!important;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: auto;
    padding: 30px 0 0!important;
}
.container {
    max-width: 1217px!important;
}
.col-lg-3 {
    flex: 0 0 20%;
    }
    .navbar .navbar-btn a:hover {
    background-color: #ffffff00;
    }

@media (max-width:767px) {

      
.foota
{

  max-width: 100%!important;
  padding-left: 20px!important;
  margin-top: -180px;
}
.foot
{

max-width: 50%!important;
padding-left:22px!important;
}
.footb
{

max-width:50%!important;
padding-left:1px!important;
}
.footc
{

max-width: 100% !important;
padding-left:22px!important;
}
.footex

{

max-width: 100%!important;
padding-left:22px!important;
}
.main-banner {
    height: 100%;
    background-position: 58%!important;
    background:auto!important;
    margin-top:40px!important;
}
.navbar .navbar-nav .nav-item .nav-link {
   
    margin: 0px 26px 13px!important;
}
.media {
    display: inherit!important;
    align-items: flex-start;
}
}

@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
.navbar .navbar-btn a {
    font-size: 10px;
    padding: 7px 7px;
    margin-left: 10px;
}
nav.navbar.navbar-expand-md.navbar-light.navbar-area {
    padding: 15px 0px 15px 0px!important;
}
.logo_img img {
    filter: brightness(1.2);
}
.ap_sec {
    flex: 0 0 45%;
    max-width: 45%;
    margin-left: 3%;
}
.media-body.ml-4 {
    margin-left: 0px !important;
}
.ap_box {
    flex: 0 0 50%;
    max-width: 50%;
}
section#apps {
    padding-bottom: 0px !important;
}
.foot {
    max-width: 17% !important;
    padding-left: 12px !important;
}
.foota h6 {
    font-size: 13px !important;
}
.footer-widget ul li {
    font-size: 14px;
}
.footb {
    max-width: 22% !important;
    padding-left: 2px !important;
}
.footex {
    max-width: 16% !important;
    padding-left: 33px !important;
}
.footex h6 {
    font-size: 14px;
}
.col-lg-3.col-sm-6.foota {
    flex: 0 0 20%;
    max-width: 20%;
}

  }
  
@media screen 
  and (min-device-width:  412px)
  and (max-device-width: 418px){
  nav.navbar.navbar-expand-md.navbar-light.navbar-area {
    padding: 10px 10px 10px 10px !important;
}
.logo_img img {
    filter: brightness(1.2);
}
.ap_sec {
    margin: 5px 4%;
}
.media-body.ml-4 {
    margin-left: 0px !important;
    margin-top: 5%;
}
.pt-100 {
    padding-top: 20px;
}
section#apps {
    padding-bottom: 0px !important;
}
.col-lg-3.col-sm-6.foota {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.foot {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footb {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footc {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.footex {
    flex: 0 0 100%;
}

}

@media only screen
  and (max-device-width: 375px){
  nav.navbar.navbar-expand-md.navbar-light.navbar-area {
    padding: 10px 10px 10px 10px !important;
}
.logo_img img {
    filter: brightness(1.2);
}
.ap_sec {
    margin: 5px 0%;
}
.media-body.ml-4 {
    margin-left: 0px !important;
    margin-top: 5%;
}
.pt-100 {
    padding-top: 20px;
}
section#apps {
    padding-bottom: 0px !important;
}
.col-lg-3.col-sm-6.foota {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.foot {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footb {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footc {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.footex {
    flex: 0 0 100%;
}
.media-body.ml-4 h3 {
    font-size: 30px !important;
}
}

@media screen 
  and (min-device-width:  390px)
  and (max-device-width: 393px){
  nav.navbar.navbar-expand-md.navbar-light.navbar-area {
    padding: 10px 10px 10px 10px !important;
}
.logo_img img {
    filter: brightness(1.2);
}
.ap_sec {
    margin: 5px 0%;
}
.media-body.ml-4 {
    margin-left: 0px !important;
    margin-top: 5%;
}
.pt-100 {
    padding-top: 20px;
}
section#apps {
    padding-bottom: 0px !important;
}
.col-lg-3.col-sm-6.foota {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.foot {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footb {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footc {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.footex {
    flex: 0 0 100%;
}
}

@media only screen and (max-device-width: 360px) {
nav.navbar.navbar-expand-md.navbar-light.navbar-area {
    padding: 10px 10px 10px 10px !important;
}
.logo_img img {
    filter: brightness(1.2);
}
.ap_sec {
    margin: 5px 0%;
}
.media-body.ml-4 {
    margin-left: 0px !important;
    margin-top: 5%;
}
.pt-100 {
    padding-top: 20px;
}
section#apps {
    padding-bottom: 0px !important;
}
.col-lg-3.col-sm-6.foota {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.foot {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footb {
    flex: 0 0 50%;
}
.col-lg-3.col-sm-6.footc {
    flex: 0 0 100%;
}
.col-lg-3.col-sm-6.footex {
    flex: 0 0 100%;
}
}